

<div class="wrap">
  <select class="form-select form-select symptom-filter" aria-label=".form-select-lg example" [(ngModel)]="filter">
    <option [value]="'All'">All</option>
    <option [value]="'Healthy'">Healthy</option>
    <option [value]="'Unhealthy'">With Symptoms</option>
  </select>
</div>
<!-- <select class="form-select form-select-lg building-filter" [(ngModel)]="buildingFilter" *ngIf="!isLoading">
  <ng-container *ngFor="let building of buildings">
    <option [value]="building">{{ building }}</option>
  </ng-container>
</select> -->
<div class="dashboard mt-4">
  <div class="table">
    <div class="today" *ngIf="expandTodaysList">
      <div class="table-item table-th">
        <div>Name</div>
        <div>Address</div>
        <div>Gender</div>
        <div>Birthdate</div>
        <div>Phone Number</div>
      </div>
      <ng-container *ngFor="let user of adminList">
        <ng-container *ngIf="getBuilding(user.id) == buildingFilter">
          <ng-container *ngIf="filter == 'All'">
            <div class="table-item">
              <div>{{ user.firstName }} {{ user.lastName }}</div>
              <div>{{ user.baranggay }} {{ user.city }} {{ user.province }}</div>
              <div>{{ user.gender }} </div>
              <div>{{ user.birthDate }}</div>
              <div>{{ user.phoneNumber }}</div>
              <div><b>Status: </b><span class="healthy">{{ getUserStatus(user.id) }}</span></div>
            </div>
          </ng-container>
          <ng-container *ngIf="filter == 'Healthy'">
            <div class="table-item" *ngIf="getUserStatus(user.id) == 'Healthy'">
              <div>{{ user.firstName }} {{ user.lastName}}</div>
              <div>{{ user.baranggay }} {{ user.city }} {{ user.province }}</div>
              <div>{{ user.gender }} </div>
              <div>{{ user.birthDate }}</div>
              <div>{{ user.phoneNumber }}</div>
              <div><b>Status: </b><span class="healthy" [ngClass]="{'unhealthy' : getUserStatus(user.id) != 'Healthy'}">{{getUserStatus(user.id) }}</span></div>
            </div>
          </ng-container>
          <ng-container *ngIf="filter == 'Unhealthy'">
            <div class="table-item" *ngIf="getUserStatus(user.id) != 'Healthy'">
              <div>{{ user.firstName }} {{ user.lastName}}</div>
              <div>{{ user.baranggay }} {{ user.city }} {{ user.province }}</div>
              <div>{{ user.gender }} </div>
              <div>{{ user.birthDate }}</div>
              <div>{{ user.phoneNumber }}</div>
              <div><b>Status: </b><span class="healthy" [ngClass]="{'unhealthy' :  getUserStatus(user.id) != 'Healthy'}">{{ getUserStatus(user.id) }}</span></div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>

</div>
