<div class="table">
  <div class="table-head" (click)="expandTodayList()">
    <div class="table-header">
      <p>This month</p>
      <svg [ngClass]="expandTodaysList? 'expand' : 'minimize'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </div>
  </div>
  <div class="today" *ngIf="expandTodaysList">
    <app-dashboard-table-item *ngFor="let activityLog of activityLogs" [activityLog]="activityLog">
    </app-dashboard-table-item>
  </div>
  <div class="table-head"  (click)="expandAllData()">
    <div class="table-header">
        <p>All</p>
        <svg [ngClass]="expandAllList? 'expand' : 'minimize'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </div>
  </div>
  <div class="all" *ngIf="expandAllList">
    <app-dashboard-table-item *ngFor="let activityLog of activityLogs" [activityLog]="activityLog">
    </app-dashboard-table-item>
  </div>
</div>